---
is_on_siprnet: false
deployment_config_file: {{ java_deployment_dir }}/deployment.config
deployment_properties_file: {{ java_deployment_dir }}/deployment.properties
deployment_exception_sites_file: {{ java_deployment_dir }}/exception.sites